.header h3 {
    display: inline-block;
    padding: 0;
    margin: 0;
}

.header a {
    float: right;
    vertical-align: text-bottom;
    cursor: pointer;
    margin-top: 5px;
}

.header {
    padding: 20px;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
}

body, html {
    margin: 0;
    padding: 0;
}

body {
    color: #222;
    background-color: #fcfaff;
}

.error {
    color: red;
}

.emoji-container {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

@keyframes emoji_background {
    0% {
        background-color: #9b4dca;
    }

    100% {
        background-color: transparent;
    }
}
@keyframes emoji_background_alt {
    0% {
        background-color: #9b4dca;
    }

    100% {
        background-color: transparent;
    }
}

.emoji {
    display: flex;
    width: 140px;
    height: 50px;
    vertical-align: middle;
    border: 1px solid #aaa;
    padding: 8px;
}

.emoji.animated-1 {
    animation: emoji_background 0.5s ease-out;
}

.emoji.animated-2 {
    animation: emoji_background_alt 0.5s ease-out;
}

.emoji .symbol {
    vertical-align: middle;
    padding-right: 10px;
}

.emoji .symbol .emoji-img {
    width: 24px;
    height: 24px;
    padding: 0;
    margin: 0;
}